.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #121212;
  color: #ffffff; /* 다크 모드에서 텍스트 색상 변경 */
}

.toggle-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.toggle-button::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
}

.light .toggle-button::before {
  content: '🌞'; 
}

.dark .toggle-button::before {
  content: '🌜';
}
