.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #112233;
}

.toggle-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-button {
  padding: 12px 12px;
  cursor: pointer;
  background-color: transparent;
  border: none; 
  outline: none;
  text-align: center;
}

.toggle-button::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  font-size: 30px;
}

.light .toggle-button::before {
  content: '🌞'; 
}

.dark .toggle-button::before {
  content: '🌜';
}

.light .toggle-button {
  background-color: #f2f2f2
}

.dark .toggle-button {
  background-color: #555555; 
}
